body {
   background-image: url("https://www.publicdomainpictures.net/pictures/200000/nahled/plain-blue-background.jpg"); 
}

.main, .popup{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
}

.popup {
   display: none;
   width: 400px;
   height: 600px;
   background-color: #5e5d59;
   position: fixed;
   top: 40%;
}

#clients {
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: initial;
}

#closePopup {
   all: unset;
   font-size: 40px;
   position: fixed;
   right: -30%;
   top: -10%;
}